.element__image {
  width: 100%;
  min-height: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
  object-position: center;
  object-fit: cover;
}

.element__image:hover {
  cursor: pointer;
}